<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examples.examplesserver.mapper.UserInfoMapper">
    <select id="selectUserInfo" resultType="com.examples.examplesserver.entity.UserInfo">
        select * from blog_user_info
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
        </where>
    </select>

</mapper>